h1 {
  color: crimson;
  text-align: center;
  width: 50%;
  margin: auto;
}
h2 {
  color: crimson;
  text-align: center;
}

p, li {
  margin-right: 100px;
  margin-left: 100px;
}

li {
  font-size: 19px;
  font-family: Verdana;
}

h4 {
  color: crimson;
  margin-left: 100px;
}
.home {
  float: right;
  margin-right: 100px
}

#CR {
  float: left;
  width: 25%;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.map_code {
  margin-left: 27%;
}