h1 {
  color: crimson;
  text-align: center;
  width: 60%;
  margin: auto;
}
h2 {
  color: crimson;
  text-align: center;
}

p, li {
  margin-right: 90px;
  margin-left: 75px;
}

li {
  font-size: 19px;
  font-family: Roboto;
}

h4 {
  color: crimson;
  margin-left: 100px;
}
.home {
  float: right;
  margin-right: 100px
}

#CR {
  float: left;
  width: 25%;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.insert_code {
  margin-left: 28%;
}

#smmc_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}