h1 {
  font-family: Roboto;
  color: crimson;
  margin-left: 150px;
  font-size: 38px;
}

p {
  font-family: Roboto;
  font-size: 24px;
  color:  black;
}

code {
  font-size: 15px;
}

.description {
  margin-left: 150px;
  width: 60%;
}

.header > p {
  float: right;
  margin-right:55px;
}

hr {
  clear: both;
}
.boots {
  float: right;
  margin-right: 70px;
  margin-top: 150px;
  width: 325px;
  height: 275px;
  border: solid black 2px;
}
.linkblock {
  margin-left: 50px;
}
html {
  background-color: rgba(255, 203, 0, 0.29);
}

.linkblock > a{
  margin-right: 15px;
}