body {
  background-color: white;

}

#container {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: Papyrus;
}

#my_name_box {
  background-color: gray;
  width: 85%;
  height: 260px;
  margin: auto;
  margin-top: 40px;
  padding-top: 3%;

}

#my_name_box h1{
  color: white;
  font-size: 65px;
  margin-left: 7%;

}

#last_name {
  color: red;
}

#blog_info_contact_box {
  background-color: white;
  width: 60%;
  height: 100px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

#blog_info_contact_box a {
  font-size: 25px;
  color: white;
  background-color: gray;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px;

}
#blog_info_contact_box div {
  margin: auto;
  display: inline-block;
  width: 32%;


}

#text_web_developer_etc {
  background-color: white;
  width: 100%;
  height: 300px;
  font-size: 35px;
  text-align: center;

}

#text_web_developer_etc h3 {
  margin-top: -57px;
}

#social_media_batch {
  background-color: white;
  width: 20%;
  height: 100px;
  margin: auto;
}

.logo {
  height: 50px;
  width: 50px;
}

#social_media_batch div {
  margin: auto;
  display: inline-block;
  width: 32%;
}
#github {
  background-color: rgb(0, 129, 255);
}







